
@media screen and (max-width: 850px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 750px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boxes{
        flex-direction: column;
    }
    .box{
        width: 250px;
    }

     .navbar li {
      
        margin: 0 5px;
        
    }
    .section2 {
        height: auto;
    }
   
   
}
@media screen and (max-width: 530px){

    
  
    
   
    
    .section1 .dumbelimg{
        width: 200px;
    }
    .topleft {
        width: 80%;
        margin: auto;
    }
    .topright {
        width: 80%;
        margin: auto;
    }

}



@media screen and (max-width: 600px){
    .section1 .zimimg{
        width: 250px;
    }
}

@media screen and (max-width: 485px){
   nav
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
        
    }
    nav ul{
        flex-direction: column;
        margin-bottom: 50px;
    }
   
    .navbar li {
        margin: 2.5px ;
        
    }
    .section3 table th {
      
        padding: 5px;
        font-size: 12px;
    }
    .section3 table td{
        padding: 5px;
        font-size: 13px;
    }
}
